*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Rubik', sans-serif;
    background-color: #DED9EE;
}

/* Text */
a
{
    font-size: 14px;
    text-decoration: none;
    color: rgb(15, 15, 15);
}

p.value
{
    font-size: 72px;
    font-weight: 700;
    color: #5941A9;
}

p.description
{
    font-size: 24px;
    font-weight: 400;
    color: #5941A9;
}

h3
{
    margin: 24px;
    text-align: right;
}

/* Elements */

div
{
    position: absolute;
}

.studies-content
{
    top: 12vw;
    right: calc(50% - 12vw);
}

.work-content
{
    top: 8vw;
    left: 24vw;
}

.domains
{
    display: flex;
    position: absolute;
    right: 0;
    top: 120px;
    flex-direction: column;
}

.domains a
{
    margin: 16px;
}

/* js elements */

.js-hidden
{
    pointer-events: none;
    opacity: 0;
}

.domains a.js-current-button
{
    font-size: 16px;
    color: #5941A9;
}
