*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Rubik', sans-serif;
    background-image: url("../../assets/svg/background/studies-background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #4F4F4F;
}

body, html
{
    height: 100%;
    overflow: hidden;
}

/* Text */

h2
{
    margin: 32px;
    text-align: right;
}

a
{
    font-size: 14px;
    text-decoration: none;
    color: #4F4F4F;
}

.button-back a
{
    font-size: 16px;
}

a.studies-button
{
    color: #5941A9;
}

p.value
{
    font-size: 80px;
    font-weight: 700;
}

p.description
{
    font-size: 24px;
    font-weight: 400;
}

p.missing-data
{
    font-size: 62px;
    font-weight: 500;
}

p.missing-data-explanation
{
    font-size: 24px;
}

p.missing-data.violence-error
{
    color: #B43838;
}

p.missing-data-explanation.violence-error
{
    color: #B43838;
}

p.missing-data.general-error
{
    color: #5941A9;
}

p.missing-data-explanation.general-error
{
    color: #5941A9;
}

.studies-content p.description, 
.studies-content p.value 
{
    color: #5941A9;
}

.work-content p.description, 
.work-content p.value
{
    color: #A9417F;
}

.power-content p.description, 
.power-content p.value
{
    color: #3E9FAC;
}

.health-content p.description, 
.health-content p.value
{
    color: #41A95E;
}

.violence-content p.description, 
.violence-content p.value
{
    color: #B43838;
}

/* Elements */

.button-back
{
    position: absolute;
    display: flex;
    top: 2vw;
    left: 2vw; 
    align-items: center;
}

.studies-content
{
    position: absolute;
    top: 4vw;
    right: 34vw;
}

.work-content
{
    position: absolute;
    top: 8vw;
    left: 6vw;
}

.power-content
{
    position: absolute;
    top: 8vw;
    left: 8vw;
}

.health-content
{
    position: absolute;
    top: 8vw;
    left: 4vw;
}

.violence-content
{
    position: absolute;
    top: 4vw;
    right: 16vw;
}

.categories
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: -2px;
    top: 120px;
}

.categories a
{
    margin: 16px;
}

.back-arrow
{
    width: 4vw;
    margin-right: 12px;
}

.container-button
{
    display: flex;
    align-items: center;
}

.rectangle-button
{
    width: 62px;
    height: 4px;
    background-color: #4F4F4F;
    border-radius: 12px;
}

.rectangle-button.js-studies-rectangle
{
    background-color: #5941A9;
}

.error-message
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.error-message.studies-position-error
{
    left: -64vw;
    top: 4vw;
}

.error-message.general-error-position
{
    left: 24vw;
    top: 12vw;
}

/* illustrations */
img
{
    pointer-events: none;
}

img.studies-illustration
{
    position: absolute;
    bottom: 0;
    left: -10vw;
    width: 44vw;
    height: 44vw;
}

img.work-illustration
{
    position: absolute;
    left: 6vw;
    bottom: -10vw;
    width: 82vw;
    height: 42vw;
}

img.violence-illustration
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40vw;
    height: 40vw;
}

img.health-illustration
{
    position: absolute;
    left: 3vw;
    bottom: 6vw;
    width: 22vw;
    height: 22vw;
}

img.power-illustration
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* chart */
canvas
{
    position: absolute;
}

.canvas-studies
{
    left: 26vw;
    top: 11vw;
}

.canvas-work
{
    right: -27vw;
    bottom: -9vw;
}

.canvas-power
{
    right: -25vw;
    bottom: -10vw;
}

.canvas-health
{
    right: -29vw;
    bottom: 0vw;
}

.canvas-violence
{
    right: -2vw;
    bottom: 14vw;
}

/* js elements */

.js-hidden
{
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
}

.categories a.js-current-button
{
    font-size: 16px;
    /* color: #5941A9; */
}
