*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Rubik', sans-serif;
    background-color: #DED9EE;
}

body, html
{
    height: 100%;
    overflow: hidden;
}

/* Text */

h3
{
    margin: 24px;
    text-align: right;
}

a
{
    font-size: 14px;
    text-decoration: none;
    color: rgb(15, 15, 15);
}

p.value
{
    font-size: 80px;
    font-weight: 700;
    color: #5941A9;
}

p.description
{
    font-size: 24px;
    font-weight: 400;
    color: #5941A9;
}

p.missing-data
{
    font-size: 24px;
    font-weight: 400;
    color: #4F4F4F;
}

/* Elements */

div
{
    position: absolute;
}

.studies-content
{
    top: 4vw;
    right: 36vw;
}

.work-content
{
    top: 8vw;
    left: 24vw;
}

.domains
{
    display: flex;
    position: absolute;
    right: 0;
    top: 120px;
    flex-direction: column;
}

.domains a
{
    margin: 16px;
}

/* illustrations */
img.studies-illustration
{
    position: absolute;
    left: -8vw;
    bottom: 0;
    width: 40vw;
    height: 40vw;
}

/* chart */
canvas
{
    position: absolute;
    left: 24vw;
    top: 12vw;
}

/* js elements */

.js-hidden
{
    pointer-events: none;
    opacity: 0;
}

.domains a.js-current-button
{
    font-size: 16px;
    color: #5941A9;
}
