*
{
    padding: 0;
    margin: 0;
}

body
{
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #A0CCDA;
    color: #2E2256;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

body, html
{
    height: 100%;
}

.eu-stars
{
    width: 635px;
    height: 635px;
    position: absolute;
    top: 6%;
    z-index: -10;
}

.woman-man
{
    width: auto;
    height: auto;
    position: absolute;
    z-index: -9;
}

.first-page-container
{
    width: 735px;
    height: auto;
    position: absolute;
    top: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1
{
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 500;
}

.first-page-container p
{
    text-align: center;
    font-size: 1.125em;
    margin: 20px;
}

a
{
    text-decoration: none;
    font-size: 0.875em;
}

.discover-button
{
    border-radius: 25px;
    background: #7A67BA;
    color: #ffffff;
    padding: 12px;
    margin: 20px;
}

/*
* Mandatory phrase
*/
.last-sentence
{
    position: absolute;
    font-size: 0.625em;
    color: #7A67BA;
    position: absolute;
    bottom: 1%;
}