body{
    background-color: #DCEAED;
    font-family: 'Rubik', sans-serif;
    color: #333333;
}

h1{
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
}

#map-container{
    position: relative;
    width: 1000px; 
    height: 800px;
    margin: 0 auto;
}

.legend{
    position: absolute;
    bottom: 10%;
    right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid #4F4F4F;
    border-radius: 5px;
}

.legend p{
    margin: 20px;
    color: #4F4F4F;
}

.colors{
    display: flex;
    flex-direction: row;
}

.legend .colors .colorbox{
    width: 45px;
    height: 30px;
    background-color: #FFD8B4;
}

.legend .colors .color2{
    background-color: #FFC48E;
}

.legend .colors .color3{
    background-color: #FFB169;
}

.legend .colors .color4{
    background-color: #FF9D43;
}

.legend .colors .color5{
    background-color: #C47833;
}

.legend .colors .color6{
    background-color: #9D6129;
}

.source{
    text-align: right;
    margin-right: 20px;
}

.help{
    position: absolute;
    bottom: 10%;
    left: 10%;
    display: flex;
    flex-direction: row;
}

.help p{
    margin-left: 10px;
}

.categories{
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
}

.categories li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 35px;
    margin: 25px;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 100px;
    z-index: 10;
    cursor: pointer;
}



/* Buttons colors */

.categories .global-button{
    color: #FF9D43;
    border-color: #FF9D43;
}

.categories .education-button{
    color: #5941A9;
    border-color: #5941A9;
}

.categories .work-button{
    color: #A9417F;
    border-color: #A9417F;
}

.categories .health-button{
    color: #41A95E;
    border-color: #41A95E;
}

.categories .power-button{
    color: #3E9FAC;
    border-color: #3E9FAC;
}

.categories .violence-button{
    color: #B43838;
    border-color: #B43838;
}

